<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./biography.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/1.0.4/aframe.min.js"></script>
  <title>Biography</title>
</head>

<body>
  <header class="header">
    <a class="nav__item" href="../../index.html">HOME</a>
    <a class="nav__item" href="../library/library.html">LIBRARY</a>
    <a class="nav__item" href="../biography/biography.html">BIOGRAPHY</a>
    <a class="nav__item" href="../contacts/contacts.html">CONTACT</a>
  </header>
  <a-scene>
    <a-sky src="http://upload.wikimedia.org/wikipedia/commons/c/cf/Panorama_360_Lac_de_Joux.jpg" rotation="0 270 0">
    </a-sky>

    <a-text font="kelsonsans" value="ARAD SARKIS" width="8" position="-3 2 -2" rotation="0 15 0"></a-text>
    <a-text 
      font="https://cdn.aframe.io/fonts/SourceCodePro.fnt"
      value="PRIVET" 
      width="4.5" 
      position="0 1.5 -2" 
      rotation="0 15 0"
     >
    </a-text>
    <a-text font="kelsonsans" value="EBALO OPUSTI" width="8" position="0 5 -2" rotation="0 0 0"></a-text>

  </a-scene>

  <div class="container"></div>

</body>

</html>