* {
  margin: 0;
  padding: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ff2052);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ffcc33);
}
